.home_cover {
  background-image: url(../../assets/images/homeImg1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  max-height: 400px;
}

.home_cover:hover {
  box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
}

.home_card {
  background-image: url(../../assets/images/homeImg2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  max-height: 400px;
}

.home_card:hover {
  box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
}

.home_category:hover {
  box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
}
